/*----------RESER CSS----------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
}
/*----------END RESER CSS----------*/


html, body{
	font-size: 14px;
	line-height: 1.2;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Montserrat';
}
.container{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 576px){
	.container {
    width: 540px;
	}
}
@media(min-width:768px){
	.container{
		width: 760px;
	}
}
@media(min-width:992px){
	.container{
		width: 990px;
	}
}
@media(min-width:1200px){
	.container{
		width: 1190px;
	}
}
@media(min-width:1400px){
	.container{
		width: 1300px;
	}
}

img{
	max-width: 100%;
	height: auto;
}
button{
	background: none;
	border: 0;
	cursor: pointer;
}
a{
	text-decoration: none;
	cursor: pointer;
}

.col-one{
	width: 50%;
	display: block;
}
.col-two{
	width: 50%;
	display: block;
}
.title h1{
	font-weight: 600;
	font-size: 55px;
	line-height: 67px;
	color: #222222;
}
.title p{
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
	color: #222222;
}
.title button{
	width: 100%;
	background: #326A6F;
	padding: 18px 0 19px;
	border-radius: 10px;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
}

/* header styles START */
header{
	padding: 40px;
}
header .wrapper{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
header .number{
	display: flex;
	align-items: center;
}
header .number a{
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #326A6F;
	margin-left: 20px;
}
/* header styles END */

/* section your-trusted styles START */
.your-trusted{
	padding: 215px 0 201px;
}
.your-trusted .container{
	display: flex;
	align-items: center;
}
.your-trusted .col-one .title p{
	margin: 50px 0 60px;
}
.your-trusted .col-one .info button{
	width: calc(50% - 30px);
}
.your-trusted .col-one .info button:last-child{
	margin-left: 30px;
	border: 1px solid #326A6F;
	background: none;
	color: #326A6F;
}
.your-trusted .col-two{
	position: relative;
}
.your-trusted .col-two img{
	position: absolute;
	max-width: 948px;
	z-index: 1;
	transform: translate(-4%, -42%);
}
/* section your-trusted END */

/* footer START */
footer{
	background: #E8FAF9;
	padding: 65.75px 0 64.75px;
}
footer .container{
	display: flex;
	align-items: center;
}
footer .column{
	align-items: center;
	display: flex;
	margin-right: 36px;
}
footer .column:last-child{
	margin-right: 0;
}
footer .column .desc p{
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
	color: #326A6F;
}
footer .column .block-img{
	max-width: 80px;
	width: 100%;
	max-height: 80px;
	border-radius: 40px;
	background: #FFFFFF;
	box-shadow: -4.03297px -4.03297px 28.1038px #FFFFFF, 8.06594px 6.04945px 16.5858px #DDE6E5;
	padding: 14.75px 12.75px 12.75px 14.75px;
	margin-right: 20px;
}
/* footer END */

/* section erc-service styles START */
.erc-service{
	padding: 120px 0;
}
.erc-service .container{
	display: flex;
	align-items: center;
}
.erc-service .title p{
	margin-top: 30px;
}
.erc-service .col-two{
	background: linear-gradient(124.04deg, #EBEBEB -1.83%, #FFFFFF 92.98%);
	box-shadow: -10px 27px 41px rgba(0, 0, 0, 0.13);
	border-radius: 31px;
	padding: 50px;
}
.erc-service .col-two p{
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #222222;
	margin-bottom: 40px;
}
.erc-service .col-two .point{
	display: flex;
	align-items: center;
}
.erc-service .col-two li{
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #222222;
	max-width: 393px;
}
.erc-service .col-two li:nth-child(2n){
	margin-top: 49px;
	margin-bottom: 39px;
}
.erc-service .col-two .icon{
	background-image: url(./img/icon-list.png);
	width: 75px;
	height: 75px;
	margin: 0 20px 0 -15px;
}
/* section erc-service styles END */

/* section helped-ind styles START */
.helped-ind{
	padding-bottom: 160px;
}
.helped-ind .container{
	display: flex;
}
.helped-ind .col-one .point{
	display: flex;
	align-items: center;
}
.helped-ind .col-one .point div{
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #222222;
	margin-right: 65px;
}
.helped-ind .col-one .point:first-child{
	margin-bottom: 40px;
}
.helped-ind .col-one .point div p{
	margin-top: 18px;
	text-align: center;
}
.helped-ind .col-one .point .block-img{
	width: 152.64px;
	max-height: 152.64px;
	border-radius: calc(152.64px / 2);
	padding: 35px 34px 34px 35px;
	background: #FFFFFF;
	box-shadow: 0px 0px 27.4006px rgba(202, 202, 202, 0.58);
	margin: 0 auto;
}
.helped-ind .col-two{
	margin-left: 57px;
}
.helped-ind .col-two .title button{
	display: block;
	width: 85%;
	margin: 0 0 0 auto;
}
.helped-ind .col-two h1,
.helped-ind .col-two p{
	text-align: right;
}
.helped-ind .col-two p{
	margin: 40px 0 60px;
}
/* section helped-ind styles END */

/* section recent-feelings styles START */
.recent-feelings{
	padding-bottom: 369px;
}
/* section recent-feelings styles END */

/* section how-it-works styles START */
.how-it-works .title{
	margin-bottom: 80px;
}
.how-it-works .block-info{
	background: #F5FFFF;
	box-shadow: -10px 27px 41px rgba(0, 0, 0, 0.05);
	border-radius: 15px;
	padding: 54px 78px 66px;
}
.how-it-works .block-info p{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}
.how-it-works .block-info img{
	margin-right: 145px;
}
.how-it-works .block-info .point-one{
	display: grid;
	grid-template-columns: repeat(4, 247px);
	justify-content: space-between;
}
.how-it-works .block-info .point-two{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 52px;
}
.how-it-works .block-info .wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}
.how-it-works .block-info .bg-white{
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 0px 27.4006px rgba(202, 202, 202, 0.58);
	width: 152.64px;
	height: 152.64px;
	border-radius: calc(152.64px / 2);
	z-index: 1;
}
.how-it-works .block-info .bg-blue{
	position: absolute;
	width: 111px;
	height: 111px;
	background: #E2F7F6;
	border-radius: calc(111px / 2);
	z-index: 2;
	margin-left: 28px;
}
.how-it-works .block-info .bg-border{
	position: absolute;
	width: 121.64px;
	height: 121.64px;
	border: 3px solid #326A6F;
	border-radius: calc(121.64px / 2);
	z-index: 3;
}
.how-it-works .block-info .number{
	z-index: 4;
	position: absolute;
}
/* section how-it-works styles END */

/* section asked-questions styles START */
.asked-questions{
	padding: 120px 0;
}
.asked-questions .title h1{
	margin-bottom: 80px;
}
.asked-questions .block-info{
	background: linear-gradient(124.04deg, #EBEBEB -1.83%, #FFFFFF 92.98%);
	box-shadow: -8.75367px -8.75367px 48.1452px #FFFFFF, 17.5073px 13.1305px 21.8842px rgba(241, 241, 241, 0.25), -10px 27px 40px rgba(0, 0, 0, 0.06), inset 0px 17.5073px 26.261px rgba(192, 192, 192, 0.25), inset -30.6378px -21.8842px 57px #FFFFFF;
	border-radius: 31px;
	padding: 93px 93px 93px 89px;	
}
.asked-questions .wrapper{
	display: flex;
}
.asked-questions .wrapper .col-two{
	display: flex;
	flex-direction: column;
}
.asked-questions .text{
	display: flex;
}
.asked-questions .text li{
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	max-width: 491px;
}
.asked-questions .text svg{
	width: 43px;
	margin: auto 15px;
	margin-left: 0;
}
.asked-questions .text .minus{
	margin-left: -2px;
}
.asked-questions .wrapper .col-two .text:first-child{
	margin-bottom: auto;
}
.asked-questions .wrapper .text-bold li{
	max-width: 461px;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #222222;
}
.asked-questions .wrapper .vertical-line{
	display: flex;
}
.asked-questions .wrapper .vertical-line li{
	margin: 30px 0 30px 15px;
	max-width: 292px;
}
.asked-questions .wrapper .line{
	border: 2px solid #326A6F;
	border-radius: 2px;
	margin: 30px 0 30px 75px;
}
.asked-questions .title button{
	display: block;
	max-width: 500px;
	margin: 0 auto;
	margin-top: 60px;
}
/* section asked-questions styles END */

/* footer-main styles START */
main footer{
	background: #193739;
}
main footer .container{
	padding: 70px 0;
	justify-content: space-between;
}
main footer a{
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}
/* footer-main styles END */